APP_NAME=InvoiceIQ
ENVIRONMENT=development

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=invoiceiq
MONGODB_COLLECTION_NAME=invoices

SQLSERVER_HOST=localhost
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=invoiceiq
SQLSERVER_USERNAME=sa
SQLSERVER_PASSWORD=your_password_here
SQLSERVER_DRIVER=ODBC Driver 18 for SQL Server